body{
	background-image:url(shop1.jpg);
	font-size: 10px;	
	height: 100px;
	background-size: 1600px 720px;
	background-attachment: fixed;
	background-repeat:no-repeat;
	font-family:serif;

}
#lgout{
	margin: 20px 0px 20px 20px;
	
	
}
.searchbox{
	
}


#nwusrbtn{
	margin: 20px 0px 20px 1080px;
}
#whitecol{
	color: white;
	size: 30px;
}
input[type="date"]
{
	border-radius: 5px;
	width: 160px;
	height: 30px;
	color: white;
	background-color:  #008975;
}

ul.nav{
	list-style-type: none;
	float: left;
	/*position: fixed;*/
	top: 5px;
	width: 25%;
	overflow: auto;
	height: 800%;
	margin: 10px;
	padding: 0px;
	background-color: #424242;
}
td{
	text-align:center;
	font-size: 14px;
	font-weight: bold;
	font-family: comic sans ms;
}
.head{
	font-weight: bolder;
	font-size: 15px;
	font-family: Helvetica;
	color: white;
	text-align: center;
	background-color:#E53935;
}
 tr:nth-child(even)
	{
	  background: #A5D6A7;
	}
.nav li a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: black;
	padding: 5px;
	font-size: 19px;
	font-family: verdana;
}
.nav li a:hover:not(active){
	background-color: #4CAF50;
	color: white;
}
.sidebar{
	margin-left: 25%;
	padding: 20px;

	height:800%;
}
.active {
    background-color: #00BCD4;
    color: red;
}
.select-field
{
	display: inline;
	width: 100%;
	height: 80px;	
	border-radius: 10px;
	margin-top: 80px;
}
#procol{
	size: 20px;
	color:blue;
}
.select-field2
{
	display: inline;
	width: 100%;
	height: 90px;	
	border-radius: 10px;
	margin-top: 80px;
}
.select-field > select
{ 
	
	width: 270px;
	height: 35px;
	margin: 0px;
	margin-left: 20px;
	margin-top: 40px;
	border-radius: 7px;
	padding:0px 45px 0px 15px;
	bottom: 0px;
	background-color:#006064;
	font-family: 'osbold';
	font-size: 20px;
	color:#ffffff;
}
.select-field2 > select
{ 
	
	width: 240px;
	height: 40px;
	margin: 0px;
	margin-left: 20px;
	margin-top: 40px;
	border-radius: 7px;
	padding:0px 45px 0px 15px;
	bottom: 0px;
	background-color:#4E342E;
	font-family: 'osbold';
	font-size: 20px;
	color:#ffffff;
}
select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

