body{
	margin: 0 auto;
	background-image: url("back2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 720px;
	font-family: sans-serif;
	color:red;
}
.loginbox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 	750px;
	height: 620px;
	padding: 30px 60px;
	box-sizing: border-box;
	border:none;
	background: rgba(0,0,0,0.5);

}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
#right{
	margin-left: 430px;

	width: 200px;
}
#log
{
	color: red;
	margin-bottom: 20px;
}
#whitecol{
	color: white;
}
#colas{
	color:blue;
}
.select-field
{
	display: inline;
	width: 100%;
	height: 90px;	
	border-radius: 10px;

}
.select-field > select
{ 
	
	width: 200px;
	height: 40px;
	margin: 0px;
	margin-left: 10px;
	border-radius: 7px;
	padding:0px 45px 0px 15px;
	bottom: 0px;
	background-color:#434343;
	font-family: 'osbold';
	font-size: 20px;
	color:#ffffff;
}

